<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="../static/semantic/semantic.js"></script>

        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/main.js"></script>

        <title>Summarizer</title>
    </head>
    <body>
        <div class="ui container">
            <header>
                <h1 class="ui center aligned huge blue header" id="name">Summarizer</h1>
                <h3 class="ui center aligned header">Just paste video link or select video file</h3>
            </header>
            <section>
                <div class="ui placeholder segment">
                    <div class="ui two column stackable center aligned grid">
                        <div class="ui vertical divider">Or</div>
                        <div class="middle aligned row">
                            <div class="column">
                                <div class="ui icon header">
                                    <i class="search icon"></i>
                                    Paste Video Link
                                </div>
                                <button class="ui big primary button" onclick="showModal('paste')">Next</button>
                            </div>
                            <div class="column">
                                <div class="ui icon header">
                                    <i class="upload icon"></i>
                                    Upload Video
                                </div>
                                <button class="ui big primary button" onclick="showModal('upload')">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="ui modal">
            <div class="header" id="paste-header">Paste Video Link</div>
            <div class="header" id="upload-header">Upload Video</div>
            <i class="close icon"></i>
            <div class="center aligned content">
                <div class="ui fluid steps">
                    <div class="step" id="paste-step-1">
                        <i class="paste icon"></i>
                        <div class="content">
                            <div class="title">Paste Your Link</div>
                        </div>
                    </div>
                    <div class="step" id="upload-step-1">
                        <i class="upload icon"></i>
                        <div class="content">
                            <div class="title">Upload Your Video</div>
                        </div>
                    </div>
                    <div class="step" id="step-2">
                        <i class="sync alternate icon"></i>
                        <div class="content">
                            <div class="title">Generating</div>
                        </div>
                    </div>
                    <div class="step" id="step-3">
                        <i class="check square outline icon"></i>
                        <div class="content">
                            <div class="title">Done!</div>
                        </div>
                    </div>
                </div>
                <section id="paste-section-1">
                    <form class="ui form">
                        <div class="ui error message">
                            <div class="header">Action Forbidden</div>
                            <p>You can only paste an url.</p>
                        </div>
                        <div class="field">
                            <input type="text" id="url" placeholder="Paste video link here...">
                        </div>
                    </form>
                </section>
                <section id="upload-section-1">
                    <form class="ui form">
                        <div class="ui error message">
                            <div class="header">Action Forbidden</div>
                            <p>You can only paste an url.</p>
                        </div>
                        <div class="field">
                            <input type="file" value="Upload">
                        </div>
                    </form>
                </section>
                <section id="section-2">
                    <div class="ui segment" id="video-segment">
                        <div class="ui active inverted dimmer">
                            <div class="ui text loader" id="text-loader">Generating</div>
                            <div id="text-done">
                                <i class="green checkmark icon"></i>
                                Done!
                            </div>
                        </div>
                        <div class="ui placeholder">
                            <div class="paragraph">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <iframe width="100%" allowfullscreen>Your browser doesn't support video streaming.</iframe>
                    <p id="description">
                        You can watch your video while generating the title!&nbsp;&nbsp;&nbsp;
                        <button class="ui tiny green inline button" onclick="showVideo()">Yes</button>
                        <button class="ui tiny red inline button" onclick="hideDescription()">No</button>
                    </p>
                </section>
                <section id="section-3">
                    <h3 class="ui blue header">This is your summary</h3>
                    <div class="ui segment">
                        <p id="result"></p>
                    </div>
                </section>
            </div>
            <div class="actions">
                <div class="ui deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Next
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </body>
</html>

